.form-wrapper {
    width: 100%;
    padding: 2%;
    background: #fff;
}

.field-wrapper {
    margin-bottom: 20px;
}

.col-6 {
    flex: 1;
}

.col-12{
    flex: 2;
}

.field-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-label {
    font-size: 16px;
    font-weight: 500;
    font-family: ui-monospace;
    color: #585555;
    padding: 5px 2px;
}

.form-field input{
    height: 34px;
    border: thin solid #d2d2d2;
    border-radius: 5px;
    width: 94%;
}

.form-field textarea {
    border: thin solid #d2d2d2;
    border-radius: 5px;
    width: 94%;
}

.input-help {
    font-size: 13px;
    font-family: ui-monospace;
    line-height: 1.5rem;
    padding: 2px;
    color: #838080;
}


.btn {
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #47a1ef;
    color: white;
}

.notice.notice-success {
    border-left: 4px solid #46b450;
    background-color: #f6ffed;
    padding: 15px 15px 15px 12px;
    margin: 15px 0;
    border-radius: 3px;
    position: relative;
}

.notice.notice-success p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
}